<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit t_shirt</h1>
    <% if @t_shirt.persisted? %>
    <%= button_to 'Destroy', @t_shirt, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', t_shirt: @t_shirt %>
</div>
